<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet" th:href="@{/css/courses.css}">
<script type="text/javascript" src="/js/add-courses.js" defer></script>
<title>Courses</title>
</head>
<body>

	<header class="site-header">
		<div class="container nav">
			<a class="logo" th:href="@{/courses}">E-Learning</a>
			<nav>
				<a th:href="@{/courses}">E-Learning</a> <a th:href="@{/login}">Login</a>
				<a th:href="@{/register}">Register</a>
			</nav>
		</div>
	</header>

	<main class="container">
		<h1>Course Admin</h1>
		<p>Course Management</p>
		<div id="message" class="message" hidden></div>

		<!-- Form for creating courses -->
		<section class="card">
			<form id="course-form">
				<input type="hidden" id="course-id" />
				<div class="form-group">
					<label for="course-title">Course Title</label> <input type="text"
						id="course-title" placeholder="Course name..." required>
				</div>

				<div class="form-group">
					<label for="course-description">Description</label>
					<textarea rows="4" id="course-description" placeholder="..."></textarea>
				</div>
				<div class="form-group">
					<label for="course-category">Category</label> 
					<select
						id="course-category" required>
						
					</select>
				</div>

				<div class="form-group">
					<label for="createdAt">Created At</label> 
					<input
						type="datetime-local" id="createdAt" readonly />
				</div>

				<div class="form-group">
					<input type="checkbox" id="published" /> <label for="published">Publish immediately</label>
				</div>

				<div class="form-buttons">
					<button type="submit" id="submit-button" class="button primary">Add Course</button>

					<button type="button" id="cancel-button" class="button secondary">Cancel</button>
				</div>
			</form>
		</section>
		
		<section class="card">
			<div class="table-container">
				<table>
					<thead>
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Description</th>
						<th>Category</th>
						<th>Created Date</th>
						<th>Published</th>	
					</tr>				
					</thead>
					<tbody id="course-table-body">
					
					</tbody>
				</table>
			</div>
		</section>
	</main>

</body>
</html>